@import "vars";


.canvas_5{
    width: 100%;
    height: 70%;
    position: relative;

    &::before{
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        content: "";
        background-image: url("../../build/images/footer.webp");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        filter: blur(5px);
        filter: brightness(65%);
    }

    .content{
        padding: 130px 0 0 0 ;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        h5{
            padding: 0 0 20px 0;
            color: $text-white;
        }
        h2{
            padding: 0 0 20px 0;
            font-size: 40px;
        }
        .button_primary_dark{
            margin: 0 0 70px 0;
        }
    }
}

@media screen and (min-width: 1100px){
    .canvas_5{
        height: 50%;

        &::before{
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            content: "";
            background-image: url("../../build/images/footer.webp");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            filter: blur(5px);
            filter: brightness(65%);
        }
        
        .content{
            padding: 150px 0 0 0 ;
            h2{
                width: 40%;
                font-size: 56px;
            }

            .button_primary_dark{
                margin: 0 0 150px 0;
            }
        }
    }
}