@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=DM+Sans:wght@400;700&display=swap');

$text-black: #333333;
$text-black-50p: #3333337F;
$primary1: #BE6361;
$text-white: #fff;
$text-white-50p: #ffffff7F;

body{
    height: 100vh;
}

.canvas_1{
    height: 100%;
    background: #FF8482;
    .header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 16px 0;

        .navbar{
            display: flex;
            font-weight: bold;
            .navbar_item{
                width: 81px;
                text-align: center;
                border: none;
            }
        }

        .button{
            border: solid 1px #FFFFFF7F;
            color: #FFFFFF;
        }

        .flyout_menu{
            display: none;
        }
    }

    .content{
        padding: 30px 0 0 0;
        display: flex;
        justify-content: center;
        
        .left_content{
            margin: 10% 0 0 11.5%;

            h5{
                color: $text-white;
            }

            .light_field_default{
                flex-direction: row;
                width: 100%;

                input{
                    width: 270px;
                }

                a{
                    margin: 0 0 0 1.5%;
                }
            }
        }

        .right_content{
            margin: 5% 7% 0 0;
        }

        img{
            width: 45vw;
        }
    }   
}

@media screen and (max-width: 1100px){
    body{
        height: 100%;
    }
    .canvas_1{
        .header{
            display: flex;
            align-items: center;
            padding: 15px 0 0;
            .navbar, .button{
                visibility: hidden;
            }
            .logo{
                position: absolute;
                width: 50%;
                left: 15px;
            }
            
            .flyout_menu{
                width: 35px;
                display: inline;
                position: absolute;
                right: 15px;
            }
        }

        .content{
            flex-direction: column;
            padding: 0;
            display: flex;
            align-items: center;
            
            .left_content{
                flex-direction: column;
                width: 90%;
                margin: 0;

                h5{
                    margin: 20px 0 ;
                }
                
                .light_field_default{
                    flex-direction: column;
                    input{
                        width: 96%;
                    }
                    a{
                        margin: 15px 0;
                    }
                }

                h1{
                    word-wrap: anywhere;
                    hyphens: auto;
                    font-size: 56px;
                }
            }

            .right_content{
                width: 100%;
                margin: 0;
                display: flex;
                justify-content: center;
                img{
                    width: 100%;
                }
            }
        }
    }
}
