@import "vars";

.canvas_3{
    background: $text-white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;

    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        .top_page{
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            h2{
                color: $text-black;
                font-size: 40px;
                padding: 30px 0 0 0;
            }

            h5{
                padding: 30px 0 0 0;
            }

            .text_big{
                color: $text-black;
                padding: 30px 0 50px 0;
                width: 90%;
            }
        }

        .main_content{
            display: flex;
            flex-direction: column;
            align-items: center;
            .object{
                display: flex;
                align-items: center;
                flex-direction: column;
                .img_container{
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 170px;
                    height: 170px;
                    border-radius: 3px;
                    box-shadow: 0 2px 8px 0 #00000033;
                    margin: 0 0 30px 0;
                    .num{
                        position: absolute;
                        top: 10px;
                        left: 10px;
                        font-family: 'Alfa Slab One', sans-serif;
                        font-size: 24px;
                        color: #00000011;
                    }
                }

                .img_text{
                    text-align: center;
                    width: 90%;
                    h4{
                        color: $text-black;
                    }
                    margin: 0 0 70px 0;
                }
            }
        }
        a{
            margin: 0 0 80px 0;
        }
    }
}
@media screen and (min-width: 1100px){
    .canvas_3{
        height: 100%;
        .content{
            display: flex;
            flex-direction: column;
            align-items: center;
            .top_page{
                h2{
                    font-size: 56px;
                }
                width: 40%;
            }

            .main_content{
                display: flex;
                justify-content: center;
                flex-direction: row;
                .object{
                    width: 30%;
                    .img_text{
                        width: 60%;
                    }
                }
            }
            a{
                margin: 0;
            }
        }
    }
}
