@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=DM+Sans:wght@400;700&display=swap');

$text-black: #333333;
$text-black-50p: #3333337F;
$primary1: #BE6361;
$primary2: #df5c5a; 
$text-white: #fff;
$text-white-50p: #ffffff7F;
$background-baige: #FFF2DD;
$background-red1: #FF8482;